<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boutique open</title>
    <style>
        img{
            margin-top: 153px;
    margin-left: 500px;
    width: 517px;
        }
        h1{ position: absolute;
   
    margin-left: 703px;
    margin-top: 268px;
    color:black;}
        body{background-color: white;}
    </style>
</head>
<body>
    <h1>Opened</h1>
    <img src="https://scontent.ftun1-2.fna.fbcdn.net/v/t1.15752-9/328874659_1552363181909612_2353649388935005562_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=gHK1l7DCY3gAX9Kl3R2&_nc_ht=scontent.ftun1-2.fna&oh=03_AdTW8lLGnFpJ1uRv5dyu5BDXYO6wBRvhJL3G_J4kDzMutA&oe=64043976"/>

</body>
</html>